version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
      - ./cache:/app/cache
      - ./models:/app/models
      - ./backend/db:/app/backend/db
    environment:
      - PYTHONUNBUFFERED=1
    entrypoint: ["/bin/sh", "-c", "/app/backend/entrypoint.sh"]

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
