version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
      - ./cache:/app/cache
      - ./models:/app/models
      - ./backend/db:/app/backend/db
      - ./models:/app/models
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
